@import "../styles/variables";

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 8rem;
  column-gap: 3rem;
  padding: 0 3rem;
  padding-bottom: 5rem;

  @media only screen and (max-width: $bp-large) {
    justify-content: center;
    column-gap: 8rem;
  }

  @media only screen and (max-width: $bp-medium) {
    column-gap: 2rem;
  }
}
